name: Pipeline
on:
 push:
  branches: ["main"]

  #AUTENTICAÇÃO VIA WIF
env:
  # PROJECT_ID: 'augmented-clock-479700-g7'  # <-- Use o ID do seu projeto
  # GCP_REGION: 'us-central1'              # <-- Região do Artifact Registry e Cloud Run
  # SERVICE_NAME: 'testeapi'       # <-- Nome do seu serviço no Cloud Run
  # REPO_NAME: 'api-repo-ikrion'          # <-- Nome do seu Artifact Registry
  # SA_EMAIL: 'github-deployer@augmented-clock-479700-g7.iam.gserviceaccount.com'
  PROJECT_ID: 'dev-teste-api'  # <-- Use o ID do seu projeto
  GCP_REGION: 'us-central1'              # <-- Região do Artifact Registry e Cloud Run
  SERVICE_NAME: 'dev-teste-api'       # <-- Nome do seu serviço no Cloud Run
  REPO_NAME: 'dev-teste-api'          # <-- Nome do seu Artifact Registry
  SA_EMAIL: 'dev-github-deployer@dev-teste-api.iam.gserviceaccount.com'

jobs:
  build:
   name: Minha primeira pipeline  
   runs-on: ubuntu-latest
   permissions:
      contents: 'read'
      id-token: 'write' # Necessário para autenticação WIF
   steps:     
      - name: 1 . Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 8.0.x
      - name: Checkout do código
        uses: actions/checkout@v2      

      #Teste de Integração
      - name: 2 . Teste de integração 
        run: dotnet test ./test/ClinicaParaiso.Integration.Test.API

      # 2. Autenticação Segura no GCP via Workload Identity Federation (WIF)
      # Esta ação assume a sua Service Account (SA) usando o token OIDC do GitHub.
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          #PROJETO INICIAL
          #workload_identity_provider: 'projects/714305528196/locations/global/workloadIdentityPools/github-pool-dev/providers/github-provider'
          
          #PROJETO ROTERIZADO
          workload_identity_provider: 'projects/551563557378/locations/global/workloadIdentityPools/dev-github-pool/providers/dev-github-provider'
          service_account: ${{ env.SA_EMAIL }}
          
      # 3. Configurar o SDK do gcloud (CLI)
      - name: 3. Configurar gcloud
        uses: 'google-github-actions/setup-gcloud@v2'
        
      # 4. Configurar Docker para usar o Artifact Registry
      - name: 4. Configurar Docker
        run: gcloud auth configure-docker ${{ env.GCP_REGION }}-docker.pkg.dev --quiet
        
      # 5. Construir a Imagem Docker (CI)
      # ATENÇÃO: Adicionado -f para apontar para o Dockerfile na subpasta
      - name: 5. Construir e Taggear Imagem
        env:
          IMAGE: ${{ env.GCP_REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
        run: |
          # Usa o diretório raiz como contexto, mas aponta o Dockerfile para o caminho correto
          docker build -f src/ClinicaParaiso.API/Dockerfile --tag $IMAGE .
          docker push $IMAGE